*logs
*.log
*.h5
*.hdf5
*.zarr
*.zarr.zip
*.zarr.tar
*.zarr.tar.gz
*.zarr.tar.bz2
alignment/BigStitcher-Spark/logs/spark/
.snakemake/
.cursorignore
*__pycache__*
*.npy
dev/
scripts/visualization.py
*.ipynb
config.yaml
run_pipeline.sh
submit_snakemake.sh
*.png
figures/
*.code-workspace